LEXAGENT_ENVIRONMENT=development
LEXAGENT_OPENAI_API_KEY=
LEXAGENT_LANGSMITH_API_KEY=
LEXAGENT_LANGSMITH_PROJECT=lexagent
LEXAGENT_QDRANT_URL=http://localhost:6333
LEXAGENT_QDRANT_COLLECTION=lexagent
